name: Tests Run
on:
   push:
    branches:
      - 'main'
jobs:
  test-run-1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm run test
